.navbar-custom{
  background-color: #115f5d;
}
.navbar-header a{
  color: #fff;
}
.nav li a{
  color: #fff;
}
.nav li a:hover{
  background-color: #0f5554;
}

.kleur-effect{
	 background-color:#F2F2F2;
}

.bgcolor{
	background-color:#ededed;
}

.btn-style{
	background-color: #115f5d;
	color: #fff;
}

.btn-style:hover{
	color: #fff;
	background-color:#00aa8e;
}

.footer{
	color:#E0E0E0;
	background-color:#2B2B2B;
	padding-left:10%;
}

.Gelukt{
	font-size: 20px;
}

.text-style{
	font-size:140%;
}

.spacer{
	height: 10vh;
}

.Beschikbaarheid {
	height: 20px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #f55235;
	border-radius: 4px;
}

.Beschikbaarheid-bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 20px;
	color: #00694b;
	text-align: center;
	background-color: #00694b;
	transition: width .6s ease;
}